<div class="h-full w-8 lg:w-full">
  <a class="block lg:px-8 lg:py-3 my-2 text-sm text-slate-700" href="/admin/products">
    <img src='https://upload.wikimedia.org/wikipedia/commons/thumb/2/20/FPT_Polytechnic.png/1200px-FPT_Polytechnic.png'
      class="hidden lg:block" />
    <img src={imgLogoIcon} class="lg:hidden inline-block" />
  </a>
  <hr class="h-px border-0 bg-transparent bg-gradient-to-r from-transparent via-black/40 to-transparent" />
  <div class="mt-4">
    <ul class="flex flex-col">

      <li key={index} class="">
        <a class="text-sm flex items-center lg:px-4 py-2.5 rounded-lg" href='#'>
          <div class="lg:mr-2 flex h-8 w-8 items-center justify-center rounded-lg">
            <i class="fa-solid fa-house"></i>
          </div>
          <span class="ml-1 opacity-100 hidden lg:block">
            Dashboard
          </span>
        </a>
      </li>
    </ul>
  </div>
</div>
