<!-- footer -->
<footer class="text-[#abb7c4] text-sm md:text-left text-center bg-cover"
  style="background-image: url('../../../assets/img/banner-bg.jpeg');">
  <div class="container mx-auto">
    <div class="flex py-20 lg:gap-16 gap-5 md:flex-row flex-col md:items-stretch items-center">
      <div class="md:w-1/4 flex flex-col justify-between">
        <img class="w-36 md:mx-0 mx-auto"
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/20/FPT_Polytechnic.png/1200px-FPT_Polytechnic.png"
          alt="">
        <div>
          <p class="mb-4 font-light lg:mt-0 mt-10">13 Trịnh Văn Bô, Phương Canh, Nam Từ Liêm, TP.Hà Nội</p>
          <div class="font-light">SĐT: <span class="text-lg text-white font-light">(024) 7300 1955</span></div>
        </div>
      </div>
      <div class="md:w-2/4 grid sm:gap-3 gap-8 sm:grid-cols-3 ">
        <div>
          <h4 class="text-lg mb-7 font-bold text-white">Thông tin</h4>
          <ul class="space-y-1.5">
            <li><a href="#">Giới thiệu</a></li>
            <li><a href="#">Liên hệ</a></li>
            <li><a href="#">Diễn đàn</a></li>
            <li><a href="#">Bài viết</a></li>
            <li><a href="#">Trung tâm trợ giúp</a></li>
          </ul>
        </div>
        <div>
          <h4 class="text-lg mb-7 font-bold text-white">Chính sách</h4>
          <ul class="space-y-1.5">
            <li><a href="#">Điều khoản sử dụng</a></li>
            <li><a href="#">Chính sách bảo mật</a></li>
            <li><a href="#">Các câu hỏi thường gặp</a></li>
          </ul>
        </div>
        <div>
          <h4 class="text-lg mb-7 font-bold text-white">Tài khoản</h4>
          <ul class="space-y-1.5">
            <li><a href="#">Tài khoản của tôi</a></li>
            <li><a href="#">Danh sách theo dõi</a></li>
            <li><a href="#">Bộ sưu tập</a></li>
            <li><a href="#">Yêu thích</a></li>
            <li><a href="#">Hướng dẫn sử dụng</a></li>
          </ul>
        </div>
      </div>
      <div class="md:w-1/4">
        <h4 class="text-lg mb-7 font-bold text-white">Đăng ký nhận tin</h4>
        <p>Đăng ký để nhận tin tức mới nhất từ chúng tôi.</p>
        <div class="mt-4 mb-5 relative">
          <input type="text" name="" id="" placeholder="Nhập email..."
            class=" placeholder:text-xs h-8 w-full py-1.5 pl-3 pr-8 outline-none bg-transparent border border-[#405266] rounded">
          <div class="absolute h-8 w-8 flex items-center justify-center right-0 top-0"><i
              class="fa-regular fa-envelope"></i></div>
        </div>
        <button class="text-[#F27221] uppercase font-semibold">Đăng ký ngay <i
            class="fa-solid fa-chevron-right"></i></button>
      </div>
    </div>
  </div>
  <div class="border-t border-[#405266] py-4">
    <div class="text-center container mx-auto">
      © 2023 FPT Polytechnic. All rights reserved.
    </div>
  </div>
</footer>
<!-- emnd footer -->
