<app-header></app-header>
<section class="relative bg-[#020d18]">
  <div class="h-[598px] absolute top-0 left-0 w-full bg-cover bg-top"
    style="background-image: url('http://busterhtml.mbkip3ms9u-e92498n216kr.p.temp-site.link/images/uploads/sr-single.jpg');">
    <div class="absolute w-full h-full bg-gradient-to-t from-black to-black/60"></div>
  </div>
  <div class="container mx-auto relative !py-44 ">
    <div class="flex xl:gap-16 lg:gap-12 gap-10 lg:flex-row flex-col">
      <div class="lg:w-3/4">
        <div class="flex xl:gap-16 lg:gap-12 gap-10 lg:flex-row flex-col">
          <div class="lg:w-2/5 max-w-xs mx-auto">
            <div>
              <img class="rounded-md max-h-[450px] w-full object-cover object-top"
                src="http://busterhtml.mbkip3ms9u-e92498n216kr.p.temp-site.link/images/uploads/series-img.jpg" alt="">
              <div class="flex flex-col gap-3 text-center p-4 border-[3px] border-[#0c1c2c] mt-5 rounded">
                <a href="http://" class="text-white uppercase block py-3 rounded-md bg-[#dd003f]" target="_blank"
                  rel="noopener noreferrer"><i class="mr-3 fa-solid fa-play"></i>
                  WATCH TRAILER</a>
                <a href="http://" class="text-[#020d18] uppercase block py-3 rounded-md bg-[#dcf836]" target="_blank"
                  rel="noopener noreferrer"><i class="mr-3 fa-solid fa-play"></i>
                  BUY TIKET</a>
              </div>
            </div>
          </div>
          <!-- center -->
          <div class="lg:w-3/5">
            <div>
              <h1 class="text-4xl text-white font-semibold mb-6">The Big Bang Theory</h1>
              <!-- social -->
              <div
                class="text-[#F27221] font-bold flex sm:items-center sm:flex-row flex-col md:gap-8 sm:gap-6 gap-3 uppercase mt-2 mb-10">
                <div class="flex items-center gap-2.5">
                  <span class="w-10 h-10 flex items-center justify-center border border-[#F27221] rounded-full"><i
                      class="fa-solid fa-heart"></i></span>
                  <span class="text-sm">Add to favorite</span>
                </div>
                <div class="flex items-center gap-2.5">
                  <span class="w-10 h-10 flex items-center justify-center border border-[#F27221] rounded-full"><i
                      class="fa-solid fa-share-nodes"></i></span>
                  <span class="text-sm">Share</span>
                </div>
              </div>
              <!-- rating -->
              <div class="border-y border-[#405266] text-[#abb7c4] flex justify-start">
                <div class="flex items-center justify-center">
                  <i class="text-2xl text-[#f5b50a] fa-solid fa-star"></i>
                  <p class="ml-2.5 text-sm py-1">
                    <span class="text-xl text-white">9</span> /10
                    <br>
                    <span class="text-white hover:text-[#4280bf] text-sm">56 Reviews</span>
                  </p>
                </div>
                <div class="flex items-center justify-start border-l border-[#405266] ml-7 pl-7">
                  <p class="text-lg mr-4">Rate This Movie: </p>
                  <i class="text-2xl text-[#f5b50a] fa-solid fa-star"></i>
                  <i class="text-2xl text-[#f5b50a] fa-solid fa-star"></i>
                  <i class="text-2xl text-[#f5b50a] fa-solid fa-star"></i>
                  <i class="text-2xl text-[#f5b50a] fa-solid fa-star"></i>
                  <i class="text-2xl text-[#f5b50a] fa-solid fa-star"></i>
                  <i class="text-2xl text-[#f5b50a] fa-solid fa-star"></i>
                  <i class="text-2xl text-[#f5b50a] fa-solid fa-star"></i>
                  <i class="text-2xl text-[#f5b50a] fa-solid fa-star"></i>
                  <i class="text-2xl fa-solid fa-star"></i>
                </div>
              </div>

              <div class="mt-8 flex flex-col gap-3">
                <div>
                  <h6 class="text-[#abb7c4] font-semibold capitalize mb-1">Director: </h6>
                  <p><a href="#" class="text-[#4280bf] hover:text-[#dcf836]">Mark Cendrowski</a></p>
                </div>
                <div>
                  <h6 class="text-[#abb7c4] font-semibold capitalize mb-1">Stars: </h6>
                  <p><a href="#" class="text-[#4280bf] hover:text-[#dcf836]">
                      Robert Downey Jr, Chris Evans, Mark Ruffalo, Scarlett Johansson</a></p>
                </div>
                <div>
                  <h6 class="text-[#abb7c4] font-semibold capitalize mb-1">Genres: </h6>
                  <p><a href="#" class="text-[#4280bf] hover:text-[#dcf836]">Chuck Lorre, Bill Prady</a></p>
                </div>
                <div>
                  <h6 class="text-[#abb7c4] font-semibold capitalize mb-1">Run time: </h6>
                  <p class="text-[#abb7c4]">120 min</p>
                </div>
                <div>
                  <h6 class="text-[#abb7c4] font-semibold capitalize mb-1">Description: </h6>
                  <p class="text-[#abb7c4]">Leonard Hofstadter and Sheldon Cooper are
                    both brilliant physicists working at Cal Tech in Pasadena, California. They are colleagues, best
                    friends, and roommates, although in all capacities their relationship is always tested primarily
                    by Sheldon's regimented, deeply eccentric, and non-conventional ways.</p>
                </div>
                <div>
                  <h6 class="text-[#abb7c4] font-semibold capitalize mb-1">Plot Keywords: </h6>
                  <p class="text-[#abb7c4] ">
                    <span class="time"><a href="#" class="py-[2px] px-[5px] bg-[#233a50]">superhero</a></span>
                    <span class="time"><a href="#" class="py-[2px] px-[5px] bg-[#233a50]">marvel universe</a></span>
                    <span class="time"><a href="#" class="py-[2px] px-[5px] bg-[#233a50]">comic</a></span>
                    <span class="time"><a href="#" class="py-[2px] px-[5px] bg-[#233a50]">blockbuster</a></span>
                    <span class="time"><a href="#" class="py-[2px] px-[5px] bg-[#233a50]">final battle</a></span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- list movie -->
        <div class="py-16">
          <div class="container mx-auto">
            <div class="flex items-center justify-between">
              <h3 class="text-white text-2xl font-bold">IN THEATER</h3>
              <div class="text-sm text-[#abb7c4]">VIEW ALL <i class="fa-solid fa-chevron-right"></i></div>
            </div>
            <ul class="flex flex-wrap text-sm text-white font-semibold gap-5 my-6">
              <li><a href="#" class="text-[#DCF836]">#POPULAR</a></li>
              <li><a href="#" class="duration-300 hover:text-[#DCF836]">#COMING SOON</a></li>
              <li><a href="#" class="duration-300 hover:text-[#DCF836]">#TOP RATED</a></li>
              <li><a href="#" class="duration-300 hover:text-[#DCF836]">#MOST REVIEWED</a></li>
            </ul>
            <div class="grid gap-6 place-items-center md:grid-cols-4 sm:grid-cols-2 ">

              <div class="relative max-w-[190px] group/item-movie">
                <img
                  src="https://res.cloudinary.com/dji6cj8xp/image/upload/v1704520587/movies/posster/wmzk61wyjlpgwmafdzji.png"
                  alt="" class="">

                <div
                  class="absolute w-full h-full py-5 px-7 top-0 left-0 flex flex-col justify-end shadow-[inset_-5px_-50px_100px_-15px_#000000]">
                  <h4 class="text-white text-sm uppercase font-bold duration-500 group-hover/item-movie:text-[#DCF836]">
                    the
                    revenant</h4>
                  <p class="text-xl text-white font-medium">
                    <i class="fa-solid fa-star text-[#f4b508]"></i>
                    <span>7.4</span><span class="text-sm font-light">/10</span>
                  </p>
                </div>

                <div
                  class="absolute w-full h-full py-5 px-7 top-0 left-0 flex items-center justify-center duration-1000 group-hover/item-movie:bg-black/50">
                  <button
                    class="w-28 h-10 uppercase text-sm text-white font-bold bg-[#F27221] rounded-full invisible opacity-0 duration-500 group-hover/item-movie:visible group-hover/item-movie:opacity-100">read
                    more <i class="fa-solid fa-caret-right"></i></button>
                </div>
              </div>
              <div class="relative max-w-[190px] group/item-movie">
                <img
                  src="https://res.cloudinary.com/dji6cj8xp/image/upload/v1704520587/movies/posster/wmzk61wyjlpgwmafdzji.png"
                  alt="" class="">

                <div
                  class="absolute w-full h-full py-5 px-7 top-0 left-0 flex flex-col justify-end shadow-[inset_-5px_-50px_100px_-15px_#000000]">
                  <h4 class="text-white text-sm uppercase font-bold duration-500 group-hover/item-movie:text-[#DCF836]">
                    the
                    revenant</h4>
                  <p class="text-xl text-white font-medium">
                    <i class="fa-solid fa-star text-[#f4b508]"></i>
                    <span>7.4</span><span class="text-sm font-light">/10</span>
                  </p>
                </div>

                <div
                  class="absolute w-full h-full py-5 px-7 top-0 left-0 flex items-center justify-center duration-1000 group-hover/item-movie:bg-black/50">
                  <button
                    class="w-28 h-10 uppercase text-sm text-white font-bold bg-[#F27221] rounded-full invisible opacity-0 duration-500 group-hover/item-movie:visible group-hover/item-movie:opacity-100">read
                    more <i class="fa-solid fa-caret-right"></i></button>
                </div>
              </div>
              <div class="relative max-w-[190px] group/item-movie">
                <img
                  src="https://res.cloudinary.com/dji6cj8xp/image/upload/v1704520587/movies/posster/wmzk61wyjlpgwmafdzji.png"
                  alt="" class="">

                <div
                  class="absolute w-full h-full py-5 px-7 top-0 left-0 flex flex-col justify-end shadow-[inset_-5px_-50px_100px_-15px_#000000]">
                  <h4 class="text-white text-sm uppercase font-bold duration-500 group-hover/item-movie:text-[#DCF836]">
                    the
                    revenant</h4>
                  <p class="text-xl text-white font-medium">
                    <i class="fa-solid fa-star text-[#f4b508]"></i>
                    <span>7.4</span><span class="text-sm font-light">/10</span>
                  </p>
                </div>

                <div
                  class="absolute w-full h-full py-5 px-7 top-0 left-0 flex items-center justify-center duration-1000 group-hover/item-movie:bg-black/50">
                  <button
                    class="w-28 h-10 uppercase text-sm text-white font-bold bg-[#F27221] rounded-full invisible opacity-0 duration-500 group-hover/item-movie:visible group-hover/item-movie:opacity-100">read
                    more <i class="fa-solid fa-caret-right"></i></button>
                </div>
              </div>
              <div class="relative max-w-[190px] group/item-movie">
                <img
                  src="https://res.cloudinary.com/dji6cj8xp/image/upload/v1704520587/movies/posster/wmzk61wyjlpgwmafdzji.png"
                  alt="" class="">

                <div
                  class="absolute w-full h-full py-5 px-7 top-0 left-0 flex flex-col justify-end shadow-[inset_-5px_-50px_100px_-15px_#000000]">
                  <h4 class="text-white text-sm uppercase font-bold duration-500 group-hover/item-movie:text-[#DCF836]">
                    the
                    revenant</h4>
                  <p class="text-xl text-white font-medium">
                    <i class="fa-solid fa-star text-[#f4b508]"></i>
                    <span>7.4</span><span class="text-sm font-light">/10</span>
                  </p>
                </div>

                <div
                  class="absolute w-full h-full py-5 px-7 top-0 left-0 flex items-center justify-center duration-1000 group-hover/item-movie:bg-black/50">
                  <button
                    class="w-28 h-10 uppercase text-sm text-white font-bold bg-[#F27221] rounded-full invisible opacity-0 duration-500 group-hover/item-movie:visible group-hover/item-movie:opacity-100">read
                    more <i class="fa-solid fa-caret-right"></i></button>
                </div>
              </div>
            </div>
          </div>
          <!-- end list movie -->
        </div>
      </div>
      <div class="lg:w-1/4 lg:pt-[440px]">
        <!-- list actor -->
        <app-sidebar></app-sidebar>
        <!-- list actor  -->
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
