<div class="">
  <div class="p-4 pb-0 mb-0 bg-white rounded-t-2xl">
    <a routerLink="/admin/movies/create" class="text-white text-base font-semibold bg-green-500 py-2 px-2 rounded my-5">
      <span>Thêm mới</span>
    </a>
  </div>
  <div class="h-full overflow-x-auto">
    <div class="w-full border-gray-200 text-slate-500">
      <div class="w-full grid lg:grid-cols-9 sm:grid-cols-5 grid-cols-2 gap-2">
        <div class="pr-6 pl-4 py-3  text-left font-bold uppercase text-slate-800">
          Poster
        </div>
        <div class="sm:col-span-2 pr-6 pl-4 py-3  text-left font-bold uppercase text-slate-800">
          Name
        </div>
        <div class="lg:block hidden col-span-3 pr-6 pl-2 py-3  text-left font-bold uppercase text-slate-800">
          cast
        </div>
        <div class="sm:block hidden pr-6 pl-2 py-3  text-left font-bold uppercase text-slate-800">
          director
        </div>
        <div class="lg:block hidden pr-6 pl-2 py-3  text-left font-bold uppercase text-slate-800">
          language
        </div>
        <div class="sm:block hidden pr-6 pl-2 py-3  text-left font-bold uppercase text-slate-800">
          Thao tác
        </div>
      </div>
      <div>

        <div *ngFor="let movie of moviesList"
          class="grid lg:grid-cols-9 sm:grid-cols-5 grid-cols-2 gap-2 border-b sm:border-transparent border-slate-300">
          <div class="p-2">
            <div class="px-2 py-1 min-w-[110px]">
              <div>
                <img [src]='movie.poster' class="mr-4 h-20 w-20 rounded" />
              </div>
            </div>
          </div>
          <div class="p-2 sm:col-span-2">
            <div class="flex flex-col justify-center">
              <h6 class="text-base">{{movie.name}}</h6>
              <p class="text-sm text-slate-400">
                {{movie.runingTime}}
              </p>
            </div>
          </div>
          <div class="lg:block hidden p-2 col-span-3">
            <p class="text-sm ">{{movie.cast | desc : 50 }}</p>
          </div>
          <div class="p-2">
            <span class="text-sm font-semibold text-slate-400">
              {{movie.director}}
            </span>
          </div>
          <div class="lg:block hidden p-2">
            <p class="text-sm ">
              {{movie.language}}
            </p>
          </div>
          <div class="p-2 space-x-2">
            <a [routerLink]="['/admin/movies/edit', movie._id]" class="text-sm font-semibold text-yellow-500">
              Sửa
            </a>
            <button (click)="openConfirmBox(movie._id)" class="text-sm font-semibold text-red-500">
              Xoá
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
