<!-- header -->
<header class="py-8 absolute w-full left-0 top-0 z-40 lg:bg-transparent bg-[#0f2133]">
  <div class="container mx-auto">
    <div class="flex lg:items-center lg:flex-row flex-col">

      <div class="flex items-center justify-between">
        <img class="w-40"
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/20/FPT_Polytechnic.png/1200px-FPT_Polytechnic.png"
          alt="">
        <!-- mobile -->
        <div class="block lg:hidden">
          <button type="button" class="h-11 w-11 text-xl text-white bg-[#F27221] rounded-lg"><i
              class="fa-solid fa-bars"></i></button>
        </div>
      </div>

      <div class="lg:flex hidden items-center grow justify-center lg:flex-row flex-col lg:mt-0 mt-5 lg:gap-0 gap-4 ">
        <!-- nav -->
        <nav class="ml-4 text-[#ABB7C4] uppercase lg:mr-auto">
          <ul class="flex items-center sm:flex-row flex-col sm:gap-0 gap-3">
            <li *ngFor="let item of menus" class="hover:text-[#DCF836]"><a [routerLink]="item.link"
                class="xl:px-4 px-3 py-2.5 font-semibold duration-300">{{item.name}}</a>
            </li>
          </ul>
        </nav>
        <div class="flex items-center lg:flex-row flex-col lg:gap-0 gap-4">
          <!-- search -->
          <form action=""
            class="flex items-center rounded-full overflow-hidden relative w-1a0 hover:w-auto duration-500">
            <input type="text"
              class="h-10 outline-none py-1 pl-4 pr-10 w-44 placeholder:italic bg-[#233a50] text-[#ABB7C4]"
              placeholder="Search...">
            <button type="button" class="absolute top-0 right-0 h-full w-10 text-[#F27221] text-lg bg-[#233a50]"><i
                class="fa-solid fa-magnifying-glass"></i></button>
          </form>
          <!-- login -->
          <div class="flex items-center">
            <ng-container *ngIf="!userInfo; else notLoggedIn">
              <a routerLink="/auth/login"
                class="font-semibold teext-sm text-white uppercase py-2.5 px-6 rounded-full bg-[#F27221] ml-3">login</a>
              <a routerLink="/auth/register"
                class="font-semibold teext-sm text-white uppercase py-2.5 px-6 rounded-full bg-[#F27221] ml-3">sign
                up</a>
            </ng-container>
            <ng-template #notLoggedIn>
              <div
                class="group relative text-[#F27221] text-xl w-10 h-10 ml-4 flex items-center justify-center border border-[#F27221] rounded-full cursor-pointer">
                <i class="fa-solid fa-user"></i>
                <div class="hidden group-hover:block absolute top-[120%] right-0">
                  <ul class="text-base bg-white min-w-40 p-2">
                    <li><a href="#" class="py-1 block text-slate-800 hover:text-[#F27221] duration-300">Thông tin</a>
                    </li>
                    <li *ngIf="userInfo?.role === 'admin'"><a routerLink="/admin/movies"
                        class="py-1 block text-slate-800 hover:text-[#F27221] duration-300">Quản trị</a>
                    </li>
                  </ul>
                  <div class="absolute -top-3 w-full h-4 bg-transparent"></div>
                  <div
                    class="absolute bottom-full right-3 w-0 h-0 border-l-8 border-r-8 border-b-8 border-transparent border-b-white">
                  </div>
                </div>
              </div>
              <div (click)="handleLogout()"
                class="text-[#F27221] text-2xl ml-1 w-10 h-10 flex items-center justify-center cursor-pointer">
                <i class="fa-solid fa-arrow-right-from-bracket"></i>
              </div>
            </ng-template>
          </div>
        </div>
      </div>


    </div>
  </div>
</header>
<!-- end header -->
