<a routerLink="/detail"></a>
<div class="relative max-w-[230px] h-[350px] group/item-movie overflow-hidden">
  <img [src]="movie.poster" alt="movie-poster" loading="lazy">
  <div
    class="absolute w-full h-full py-5 px-7 top-0 left-0 flex flex-col justify-end shadow-[inset_-5px_-150px_100px_-15px_#000000]">
    <h4 class="two-line text-white text-sm uppercase font-bold duration-500 group-hover/item-movie:text-[#DCF836]">
      {{movie.name}}
    </h4>
    <p class="text-xl text-white font-medium">
      <i class="fa-solid fa-star text-[#f4b508]"></i>
      <span>{{movie.rated}}</span><span class="text-sm font-light">/10</span>
    </p>
  </div>

  <div
    class="absolute w-full h-full py-5 px-7 top-0 left-0 flex items-center justify-center duration-1000 group-hover/item-movie:bg-black/50">
    <a routerLink="/detail">
      <button
        class="w-32 h-10 uppercase text-sm text-white font-bold bg-[#F27221] rounded-full invisible opacity-0 duration-500 group-hover/item-movie:visible group-hover/item-movie:opacity-100">view
        details <i class="fa-solid fa-caret-right"></i></button>
    </a>
  </div>
</div>
