<div class="">
  <div class="p-4 pb-0 mb-0 bg-white rounded-t-2xl">
    <a routerLink="/admin/categories/create"
      class="text-white text-base font-semibold bg-green-500 py-2 px-2 rounded my-5">
      <span>Thêm mới</span>
    </a>
  </div>
  <div class="h-full overflow-x-auto px-4">
    <div class="w-full border-gray-200 text-slate-500">
      <div class="w-full grid grid-cols-2 gap-2 border-b border-gray-400">
        <div class="pr-6 pl-4 py-3  text-left font-bold uppercase text-slate-800">
          Name category
        </div>
        <div class="sm:block hidden pr-6 pl-2 py-3  text-left font-bold uppercase text-slate-800">
          Thao tác
        </div>
      </div>
      <div>

        <div *ngFor="let category of categoriesList"
          class="grid grid-cols-2 gap-2 border-b sm:border-transparent border-slate-300">
          <div class="pr-6 pl-4 py-3  text-left font-bold uppercase text-slate-800">
            {{category.categoryName}}
          </div>
          <div class="p-2 space-x-2">
            <a [routerLink]="['/admin/categories/edit', category.categorySlug]"
              class="text-sm font-semibold text-yellow-500">
              Sửa
            </a>
            <button (click)="openConfirmBox(category._id)" class="text-sm font-semibold text-red-500">
              Xoá
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
