<div class="pt-16">
  <div class="flex items-center justify-between">
    <h3 class="text-white text-2xl font-bold">LATEST NEWS</h3>
    <div class="text-sm text-[#abb7c4]">VIEW ALL <i class="fa-solid fa-chevron-right"></i></div>
  </div>
  <!-- list blog -->
  <div class="grid gap-5 lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 place-items-center mt-6">

    <div class="max-w-xs" *ngFor="let news of newsList">
      <div class="rounded-lg overflow-hidden">
        <img [src]="news.img" alt="" class="w-full">
      </div>
      <div class="pt-6 text-[#abb7c4] space-y-3">
        <h3 class="two-line text-lg text-[#4280bf] font-bold">{{news.title}}</h3>
        <p class="text-xs">27 Mar 2017</p>
        <p class="three-line text-sm">
          {{news.desc}}
        </p>
      </div>
    </div>
  </div>
</div>
