<app-banner />
<app-movies-list [moviesList]="moviesList" />
<section class="py-16 bg-[#06121e]">
  <div class="container mx-auto">
    <div class="flex xl:gap-16 lg:gap-12 gap-10 lg:flex-row flex-col">
      <div class="lg:w-3/4">
        <!-- trailer -->
        <app-trailers [moviesList]="moviesList" />

        <!-- latest news -->
        <app-latest-news />

        <!-- new end -->
      </div>
      <div class="lg:w-1/4 text-white">
        <!-- sidebar -->
        <app-sidebar />


      </div>
    </div>
  </div>
</section>
