<div class="mt-6 sm:mx-auto sm:w-full px-6">
  <h1 class="text-[#F27221] text-3xl mb-3">Edit category</h1>
  <form class="space-y-5" [formGroup]="form" (ngSubmit)="submit()">
    <div class="grid grid-cols-3 gap-x-6 gap-y-4">
      <div>
        <label for="name" class="block text-sm font-medium leading-6 text-slate-800 capitalize">name</label>
        <div class="mt-2">
          <input id="name" formControlName="categoryName" type="text"
            [ngClass]="{ 'border-red-500': submitted && f['categoryName'].errors}"
            class="block w-full rounded-md outline-none border py-1.5 shadow-sm px-3 placeholder:text-gray-400 sm:text-sm sm:leading-6">
        </div>
        <div class="min-h-3">
          <div *ngIf="submitted && f['categoryName'].errors">
            <span class="text-xs text-red-500" *ngIf="f['categoryName'].errors['required']">Category Name is
              Required.</span>
          </div>
        </div>
      </div>

    </div>

    <div class="grid grid-cols-3 gap-6">
      <button type="submit"
        class="flex w-full justify-center rounded-md bg-[#F27221] px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:opacity-90 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Update
        Categoty</button>
    </div>
  </form>
</div>
